

<!-- <form action="<%#= user_url(user) %>" method="post">

    <label for="username">Username:
      <input type="text" name="user[username]" >
    </label> 
  
    <label for="password">Password:
        <input type="text" name="user[password]" >
      </label> 
    
    <input type="submit" value="Sign up">
  </form>  -->